<h3>All the Manufacturers</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Country of Origin</th>
  </tr>
  
  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></td>
      <td><%= manufacturer.country %></td> 
    </tr>
  <% end %>
  
</table>

<p><%= link_to 'Add Manufacturer', new_manufacturer_path %> - <%= link_to 'Add Car', new_car_path %></p>

